/* You can add global styles to this file, and also import other style files */

html, body {  height: 100%; background-color: orangered }
body { margin: 20px; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
    padding: 20px;
    margin: 100px;
    color: white;   
    
}
#reg{
    
}
